.app__ProjectCard {
  height: 200px;
  background-size: cover;
  border-radius: 10px;
  background-color: var(--color-light-blue);
  border: 1px solid #fff;
}
.app__ProjectCard-content {
  height: 100%;
  border-radius: 10px;
}
.app__ProjectCard-content:hover .app__ProjectCard-content-inner {
  display: flex;
}
.app__ProjectCard-content-inner {
  border-radius: 10px;
  background-color: var(--color-light-blue);
  height: 100%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app__ProjectCard-content-inner h6 {
  font-size: 18px;
}
.app__ProjectCard-content-links {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
.app__ProjectCard-content-links a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-blue-gray);
  border-radius: 50%;
}
